{% extends 'base.html' %} 
{% load static %}
{% block largepagecontent %}
<br><br>
<center>
<div class="card white z-depth-5" style="width: 90%; padding: 40px;text-align: left;">
<p class="flow-text center" style="font-size: 42px;">Welcome to Learn To Code
<img src="{% static '/img/logo.png' %}" class = "center" height="8%" width="8%"/></p>

<p class="flow-text">Learn to Code provides a platform for the developers to get all the programming knowldge at one place. This site encourages you to learn from the solutions of highly rated coders and reading from best technical blogs.</p>
<p class="flow-text">Start by practicing using CodeForces data and then test your knowledge on CodeChef simultaneously increaing your knowledge by reading Blogs </p>
<a href = "/temple" class="btn">Main</a>
</div>
</center>

{% endblock %}
{% block pagecontent %}
{% endblock %}
